//-------------------------- import utilities--------
@import "utilities/functions";
@import "utilities/variables";
@import "utilities/mixin";

//---------------------------- bootstrap-----------

@import "custom";


//---------------------------- base---------

@import "base/typography";
@import "base/default"; 
@import "base/class";


//---------------------------- vendor------



//---------------------------- themes------


//---------------------------- layout------
@import "layout/header";
@import "layout/story";
@import "layout/slider";
@import "layout/brands";
@import "layout/scroll";
@import "layout/supermarket";
@import "layout/category";
@import "layout/suggest";
@import "layout/digiplus";
@import "layout/digiclup";
@import "layout/buy";
@import "layout/mostsell";
@import "layout/footer";
//---------------------------- components------



//---------------------------- pages------
@import "pages/home";


