@mixin centerrizetag($align:center,$justify:center){
    display: flex;
     justify-content: $justify;
    align-items: $align;
   
}


@mixin positionCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin lineBreak($line:2){
    display: -webkit-box;
    -webkit-line-clamp:$line;
    -webkit-box-orient:vertical;
    overflow: hidden;
}

@mixin Responsive ($breackpoint){


// phone breackpoints 576px ~     
   @if $breackpoint==phone{
    @media only screen and (max-width:36em)  {
      @content  ;
    }
   }


// phoneL breackpoints 768px ~ 48em
    @if $breackpoint==phoneL{
        @media only screen and (max-width:48em){
            @content;
        }
    }


// tablet breackpoints 992px ~ 62em       
    @if $breackpoint==tablet{
        @media only screen and (max-width:62em){
            @content;
        }
    }

// tabletL breackpoints 1200px ~ 75em
     @if $breackpoint==tabletL{
        @media only screen and (max-width:75em){
            @content;
        }
    }


// laptop breackpoints 1800px ~ 112.5em
     @if $breackpoint==laptop{
        @media only screen and (max-width:112.5em){
            @content;
        }
    }

   }
