//------------------------ other color 




// ------------------override colors

$primary:#941b80;
$secondary:#19bed1;
$secondaryDark:#3c4b6d;
$tertiary:#ef394e;
$gray : #e1e1e1;
$subtitle:#818489;
$search : #eaeaec;
$white : #fff;
$success : #3bae03;



//---------------------------- coloe maps

$theme-colors:(
  "primary" : $primary,
  "secondary" : $secondary,
  "secondaryDark":$secondaryDark,
  "tertiary" : $tertiary,
  "subtitle" : $subtitle,
  "search"  : $search,
  "gray"    : $gray,
  "white"   : $white,
  "success" : $success,

);


//---------------------------fontSize variables
$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.75rem;
$fs-4: 1.5rem;
$fs-5: 1.25rem;
$fs-6: 1rem;