.digiclup{
    &__content{
        @include Responsive(tablet){
            border-radius: 0 !important;
        }
        &-col{
            @include Responsive(phoneL){
                width:  100% !important;
                @include centerrizetag();
        }
        &-img{
            @include Responsive(phoneL){
                width: 20% !important;
            }

             @include Responsive(phone){
                width: 50% !important;
            }
        }
        &-item{
           @include Responsive(phone){
            border-radius: 2rem !important;
           }
        }
        &-text{
             @include Responsive(phone){
               font-size: 1.75rem !important;
               }
        }
    }
}
}