.digiplus{
    &__content{
        @include Responsive(tablet){
            border-radius: 0 !important;
            &-image{
                @include Responsive(tablet){
                    position: static !important;
                }
            }
            &-col{
                @include Responsive(tablet){
                    width: 100%;
                }
            }
            &-pic{
                @include Responsive(tablet){
                    width: 50% !important;
                }

                @include Responsive(phoneL){
                    width: 75% !important;
                }
            }
        }
    }
}