.mostsell{
    &__content{
        @include Responsive(tablet){
            border: none !important;
        }
        &-item{
            min-width: 40rem;
        }
        &-text{
            @include Responsive(tablet){
                position: static;
            }
        }
    }
}