.slider{
    
    max-height: 40rem;
    &__pic{
        cursor: grab;
         @include Responsive(tabletL){
            min-height: 268px;
            object-fit: cover;
         }
    }
    &__pagination{
        position: absolute;
        bottom: 3rem;
    }
    &__navigation{
        position: absolute;
        bottom: 4rem;
        right: 8rem;
        width: 11rem;
        height: 5rem;
        @include Responsive(tablet){
            display: none;
        }
        &-item{
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            border: 1px solid $subtitle;
            border-radius: 100%;
            color: $subtitle;
            &::after{
                font-size: $fs-3;
            }
        }
    }
}