@font-face {
    font-family:Iransansweb;
    font-style:normal ;
    font-weight: 500;
    src: url(../public/fonts/ttf/IRANSansX-Medium.ttf) format("truetype"),
        url(../public/fonts/woff/IRANSansX-Medium.woff) format("woff"),
        url(../public/fonts/eot/IRANSansX-Medium.eot?#iefix) format("eot");
}


@font-face {
    font-family:Iransansweb;
    font-style:normal ;
    font-weight: normal;
    src: url(../public/fonts/ttf/IRANSansX-Regular.ttf) format("truetype"),
        url(../public/fonts/woff/IRANSansX-Regular.woff) format("woff"),
        url(../public/fonts/eot/IRANSansX-Regular.eot?#iefix) format("eot") ;
}



@font-face {
    font-family:Iransansweb;
    font-style:normal ;
    font-weight: bold;
    src: url(../public/fonts/ttf/IRANSansX-Bold.ttf) format("truetype"),
        url(../public/fonts/woff/IRANSansX-Bold.woff) format("woff"),
        url(../public/fonts/eot/IRANSansX-bold.eot?#iefix) format("eot");
}